body {
  background: rgba(44, 168, 194, 0.2);
}

.Ccard {
  height: 162px;
  width: 255.96px;
  position: relative;
  font-family: 'Share Tech Mono', monospace;
}

.Ccard.cardVisa {
  color: #fdfdfd;
}

.Ccard.cardVisa .card-face {
  background: linear-gradient(45deg, #1A57A2, #2b7bdd);
}

.Ccard.cardVisa .card-back {
  background: linear-gradient(45deg, #1A57A2, #2b7bdd);
}

.Ccard .card-face, .Ccard .card-back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 162px;
  width: 255.96px;
  border-radius: 9px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow .2s ease-in;
  transition: -webkit-box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
}

.Ccard .card-face {
  z-index: 1;
}

.Ccard .card-face .logo {
  max-width: 50px;
}

.Ccard .card-face #cardNumber {
  min-height: 40px;
  margin: 0;
  font-size: 1.35em;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.Ccard .card-face #ownerName, .Ccard .card-face #expirationDate {
  min-height: 20px;
  font-size: .7em;
  margin: 0;
}

.Ccard .card-face #ownerName span, .Ccard .card-face #expirationDate span {
  font-size: inherit;
  margin: 0;
}

.Ccard .card-face span {
  font-size: .6em;
}

.Ccard .card-face.turnAround {
  -webkit-animation-name: turnAround;
          animation-name: turnAround;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.Ccard .card-back {
  z-index: 0;
  -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, -180deg);
          transform: perspective(2000px) rotate3d(0, 1, 0, -180deg);
}

.Ccard .card-back .magneticStrip {
  width: 100%;
  height: 40px;
  background-color: black;
}

.Ccard .card-back #csv {
  background: #fff;
  border-radius: 3px;
  color: #000;
  min-height: 25px;
}

.Ccard .card-back.turnAroundInverted {
  -webkit-animation-name: turnAroundInverted;
          animation-name: turnAroundInverted;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes turnAround {
  0% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, 0deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, 0deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
  50% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, 90deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
  100% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, 180deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, 180deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
}

@keyframes turnAround {
  0% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, 0deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, 0deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
  50% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, 90deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
  100% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, 180deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, 180deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
}

@-webkit-keyframes turnAroundInverted {
  0% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, -180deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, -180deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
  50% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, -90deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, -90deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
  100% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, 0deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, 0deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
}

@keyframes turnAroundInverted {
  0% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, -180deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, -180deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
  50% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, -90deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, -90deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
  100% {
    -webkit-transform: perspective(2000px) rotate3d(0, 1, 0, 0deg);
            transform: perspective(2000px) rotate3d(0, 1, 0, 0deg);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  }
}
/*# sourceMappingURL=main.css.map */